/*  
Name: missunderstood template
Author: will rossiter
Date: 2/05/2006
*/

/***Misc Tags***/
/*** BOTON ***/
/***********************************************************************************//* changed CSS */


/* changed CSS */
.source-block {
	display: flex;
	align-items: center;
	align-content:flex-start;
  }
  
  /* provided CSS*/
  pre {
	  padding: 0pt;
	  overflow: auto;
	  margin: 0.5em;
	  -webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
  }
  
  pre.src {
	  position: relative;
	  overflow: auto;
	  padding-top: 1.2em;
  }
  
  /* misc styling */
  .copyBtn {

		background-color: #4CAF50;
		border: none;
		color: #FFFFFF;
		padding: 5px;
		text-align: center;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		text-decoration: none;
		font-size: 15px;
		font-weight: bold;
		cursor: pointer;
		border-radius: 5px;
		float: right;

  }
  
/***********************************************************************************/
/* ---------- Useful Button styling ---------- */

.copyBtn{
	position: relative;
	background-color: rgb(37, 114, 47);
	border-radius: 0.5em;
	font-size: 15px;
	color: white;
	padding: 0.1em 1em;
	cursor:pointer;
	user-select:none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s; /* Safari */
  }
  
  .copyBtn:hover {
	transition-duration: 0.1s;
	background-color: #3A3A3A;
  }
  
  .copyBtn:after {
	content: "";
	display: block;
	position: absolute;
	border-radius: 4em;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.5s;
	box-shadow: 0 0 10px 40px white;
  }
  
  .copyBtn:active:after {
	box-shadow: 0 0 0 0 white;
	position: absolute;
	border-radius: 4em;
	left: 0;
	top:0;
	opacity: 1;
	transition: 0s;
  }
  
  .copyBtn:active {
	top: 1px;
  }
  
  
  
  /* ---------- Looking nice on CodePen ---------- */
  




.h3class {
	font-size: 1.5em;
	font-weight: bold;
	color: orange !important;
}

* {
 margin: 0px;
 padding: 0px;
}

body {
 background: #222 url(headergrunge.jpg) repeat-x;
 font-family: Verdana, Arial, sans-serif;
 font-size: 16px;
 color: #fff;}
 
a img{ border: 0px; }

a { text-decoration: none;}

input {
 background: #333;
 font-family: Verdana;
 font-size: 0.7em;
 padding: 3px;
 color: #f4f4f4;
 border: 2px solid #555;}
	
button {
 background: #222;
 font-family: Verdana;
 font-size: 0.7em;
 padding: 2px;
 color: #f4f4f4;
 border: 2px solid #444;
 height: 2em;} 


/**** Span class's *****/

.hidden { text-indent: -9000px;}
.br { clear: both;}
.pink { color: #D01A71;}
.small { font-size: x-small;}
.large { font-size: xx-large;}
.right { float: right;}
.left { float: left;}
.center { margin: 0 auto; text-align: center;}


/**** Site Container ****/

#container { width: 700px;}



/***Header***/

 
#logo { float: left;}

#logo h1 { 
 margin-top: 30px;
 margin-left: 10px;
 font-size: 1.6em;
 letter-spacing: -0.1em;}
 
#search {
 margin-top: 30px;
 float: right;}
 
#search button { margin-left: 5px; padding: 0 2px 2px 2px;}

/***left Side Bar***/

#navlist { float: left; width: 170px; margin-top: 30px; margin-left: 5px;}

 
#navlist ul {
 list-style: none;
}

#navlist li a{
 display: block;
 height: 25px;
  width: 100px; 
 padding: 9px;
 margin: 5px;
 background: inherit;
 border-right: 4px solid #444;
 color: #999;
 text-transform: lowercase;
 font-size: 0.9em;}
 
#navlist li a:hover {
 color: #f4f4f4;
 background: #333;
 border-right: 4px solid #D01A71;}
 
#navlist li .active {
 color: #999;
 background: #333;
 border-right: 4px solid #444;}


/***Content***/

#content { float: right; width: 510px; margin-top: 30px; margin-left: 2px; }

#content a { color:#D01A71; font-weight: bold;}

#content a:hover { 
 color: #fff; 
 background: #D01A71; 
 font-weight: bold;}
 
#content p {line-height: 1.4em; font-size: 0.7em; margin-bottom: 20px; color: #f4f4f4;}

 
#content h3 {
text-indent: 20px;
color: #999;
letter-spacing: -0.1em;
margin-bottom: 4px;
}

#content h3:hover { color: #fff;}

	#content .code{
	  color: rgb(227, 238, 234);
	  background: #3b3232 url(codenums.png) repeat-y;
	  border: 1px solid #ccc;
	  padding: 1px;
	  padding-left: 25px;
	  font-family: "courier new", helvetica, "times new roman", monospace;
	  font-size: 1.0em;
	  width: 70rem;
	  margin: 2px auto;
	  white-space: nowrap;
	  overflow: auto;}
	  
	#content  code {
	  color: #fff;
	  font-family: "courier new", helvetica, "times new roman", monospace;
	  background-color: #333;
	  font-size: 1.2em;}

#content blockquote { color: #999; font-style: italic; text-align: center; width: 300px; margin: 10px auto;}
 
/***Footer***/

#footer {
 text-align: center;
 color: #666;
 margin-top: 30px;
 font-size: 0.7em;
 }
 
#footer p { color: #666;}
 
#footer a { color: #666;}
 
#footer a:hover { color: #f4f4f4;}
	

 